body {
    font-family: 'Cormorant Garamond', serif;
    /* font-weight: 600; */
}

#portrait {
    max-height: 50vh;
}
/* #showcase{
    max-height: 90%;
} */

#intro {
    height:100vh;
    display: flex;
}

#get-to-know-me {
    height:100vh;
    display: flex;
}